[project]
	description = \"integration/terragrunt\" - READ ONLY. Repo Archived.
	state = read only
[access]
	inheritFrom = All-Projects
[submit]
	action = inherit
[access "refs/*"]
	read = group GitHub Replication
	owner = group saml/onap-gerrit-integration-terragrunt-committers
[plugin "its-jira"]
	enabled = true
